.App {
  min-height: 100vh;
  padding: 0rem 5rem;
  width: 100%;
  margin: 0rem auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Reem Kufi", sans-serif !important;
}

body {
  width: auto;
  height: auto;
  overflow-x: hidden;
  color: white;
  background: var(--Black, #151515);
}

.Footer {
  padding: 0rem 5rem;
  background: var(--Dark-Grey, #242424);
  margin: 0rem auto;
}

@media (max-width: 800px) {
  .App {
    // text-align: center;
    padding: 0;
    margin: auto;
    // padding: no;
  }
}

// .techWrapper {
//   flex-direction: column;
// }
// .bannerImagen {
//   width: 100%;
//   max-width: 400px;
// }
